<div class="mb-4 border-gray-600 flex rounded-lg shadow-sm w-full md:w-2/3 px-4 py-2 border-1">
  <input
    type="text"
    [(ngModel)]="searchTerm"
    (input)="filterProducts()"
    placeholder="Buscar produtos..."
    class="w-full outline-none border-0"
  />
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="w-6 h-6 cursor-pointer hover:fill-[#00c951] transition-colors" (click)="filterProducts()">
    <path
      d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"
    />
  </svg>
</div>

<div *ngIf="loading" class="text-center text-gray-600 text-lg font-semibold">
  Carregando produtos...
</div>

<div
  *ngIf="!loading && !filteredProducts.length"
  class="text-center text-gray-500"
>
  Nenhum produto encontrado.
</div>

<ul
  *ngIf="!loading && pagedProducts.length > 0"
  class="gap-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
>
  <li
    *ngFor="let product of pagedProducts"
    class="flex flex-col bg-white shadow-md rounded-lg border border-gray-200 overflow-hidden cursor-pointer hover:shadow-lg transition-shadow duration-300"
    (click)="goToProduct(product._id)"
  >
    <img
      [src]="product.image"
      alt="{{ product.name }}"
      class="w-full h-48 object-cover"
    />
    <div class="py-4 px-2 flex flex-col flex-grow">
      <h3 class="text-lg font-semibold text-gray-800 mb-1">
        {{ product.name }}
      </h3>
      <p
        class="text-sm text-gray-600 mb-4 overflow-hidden line-clamp-3 h-[60px]"
        style="
          -webkit-line-clamp: 3;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        "
      >
        {{ product.description }}
      </p>
      <span class="text-lg font-bold text-green-600 text-end w-full">
        {{
          product.price
            ? product.price.toLocaleString("pt-BR", {
                style: "currency",
                currency: "BRL"
              })
            : "R$ 0,00"
        }}
      </span>
    </div>
  </li>
</ul>

<div *ngIf="totalPages > 1" class="flex justify-center mt-8">
  <button
    (click)="changePage(currentPage - 1)"
    [disabled]="currentPage === 1"
    class="px-4 py-2 mx-1 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 disabled:opacity-50"
  >
    Anterior
  </button>
  <span
    *ngFor="let page of getPages()"
    (click)="changePage(page)"
    class="px-4 py-2 mx-1 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg cursor-pointer hover:bg-gray-100"
    [ngClass]="{ 'text-gray-900 font-medium': page === currentPage }"
  >
    {{ page }}
  </span>
  <button
    (click)="changePage(currentPage + 1)"
    [disabled]="currentPage === totalPages"
    class="px-4 py-2 mx-1 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 disabled:opacity-50"
  >
    Próxima
  </button>
</div>
